* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: $radio-canada;
  height: 100vh;
  display: grid;
  align-items: center;
}
.weather-form {
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  .btn-con {
    display: flex;
    gap: 25px;
  }
  .txt-searchCountry,
  .btn-searchCountry {
    height: 35px;
    width: 500px;
    font-family: $radio-canada;
  }
  .btn-searchCountry {
    cursor: pointer;
    background-color: #827e7e;
    border: none;
    color: #ffffff;
    font-size: 18px;
  }
  .txt-searchCountry::placeholder {
    padding: 10px;
    font-weight: bold;
  }
}

.con-status {
  padding: 15px 0 15px 0;
  @include grid-center;
  grid-template-columns: repeat(2, auto);
  gap: 30px;

  .weather-search {
    padding: 22px;
    @include box-con;
    @include list-none;
    h1 {
      padding: 8px;
    }
  }

  .weather{
    display: flex;
    gap:200px;

    .weather-img{
      height: 120px;
    }
  }

  .weather-stat {
    @include box-con;
    @include list-none;
    h1 {
      padding: 8px;
    }
    .temp-div {
      display: flex;
      gap: 10px;
      padding: 10px;
      .temps {
        height: 28px;
        width: 50px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1035px) {
  .btn-con {
    flex-direction: column;
  }
  .con-status {
    grid-template-columns: repeat(1, auto);
  }
}

@media only screen and (max-width:321px){

}
@media only screen and (min-width: 320px) and (max-width: 502px){
  .con-status{
    .weather-search{
      height: 400px;
      width: 300px;

      .weather{
       flex-direction: column;
       gap:0;
        .weather-img{
          height: 150px;
        }
      }
    }
    .weather-stat{
      height: 400px;
      width: 300px;
    }
  }
  .weather-form {
    .txt-searchCountry,
    .btn-searchCountry {
      width: 100%;
    }
  }
}
