@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin grid-center {
    display: grid;
    justify-content: center;
}

@mixin inputSetup {
    height: 30px;
    width: 200px;
}

@mixin list-none {
    ul{
        li{
            list-style: none;
            padding: 8px;
        }
    }
}

@mixin box-con {
    height: 350px;
    width: 500px;
    padding: 20px;
    border: 1px solid black;
}

//Font
$radio-canada:'Radio Canada', sans-serif;
